h1= title

ul#game
  li#1-1.field
  li#1-2.field
  li#1-3.field
  li#2-1.field
  li#2-2.field
  li#2-3.field
  li#3-1.field
  li#3-2.field
  li#3-3.field


script(src="/socket.io/socket.io.js")
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js")

script
  var socket = io.connect('http://localhost');

  socket.on('turned', function(data){
    $('#' + data.id).addClass('active');
  });

  $('.field').click(function(e){
    var id = $(this).attr('id');
    socket.emit('turn', {id : id});
    $(this).addClass('active');
  });



