.content.transition
  #sidebar.transition
  .main
    - if (posts.length)
    - posts.forEach(function(item){
        .imgpost.clearfix
          .post
            a(href='/shot/#{item.id}')
              img(src=item.imgMed) 
          ul.tools.clearfix
            li.views 2813
            li.favs 
              a(href='/favs') 564
            li.cmnts 
              a(href='/comments') 30
          ul.info.clearfix
            li.author
              a(href='/pushkin')
                img(src='/images/avatars/lol.jpg', style='width:16px') 
                span.name Pushkin 
            li.date #{item.getTime()}
            
    - })


script(src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js")
script(src="/javascripts/underscore/underscore-min.js")

script(src="/javascripts/momentjs/lang/ru.js")
script(src="/socket.io/socket.io.js")
script(src="/javascripts/jquery.dropfile.js")

script
  var socket = io.connect('http://localhost');


  $('body').dropfile({
    onload: function(filename, data){
      socket.emit('transferFile', {file : filename, bin : data});
    },
    ondrag : function(e){
      $('.receiver-file').css('display', 'block').stop(true,false).animate({opacity : .9}, 300);
    },
    ondragout : function(e){
      $('.receiver-file').stop(true,false).animate({opacity : 0}, 300, function(){$('.receiver-file').css('display', 'block')});
    },
    ondrop : function(e){
      $('.receiver-file').stop(true,false).animate({opacity : 0}, 300, function(){$('.receiver-file').css('display', 'block')});
    }
  });

  socket.on('showPic', function(data){
    var imgpost = _.template($('#template-post').html());
    $('.content').prepend(imgpost(data));
  });


.receiver-file 
  .splash
    img(src="/images/upload.png")
  p Я приму Ваш файл.

script(type="template", id="template-post")
  | <div class="imgpost clearfix">
  | <div class="post">
  | <img src="<%=imgMed%>"></div>
  | <ul class="tools clearfix"><li class="views">2813</li><li class="favs"> <a href="/favs">564</a></li><li class="cmnts"> <a href="/comments">30</a></li></ul>
  | <ul class="info clearfix"><li class="author"><a href="/pushkin">
  | <img src="/images/avatars/lol.jpg" style="width:16px">
  | <span class="name">Pushkin </span></a></li>
  | <li class="date"><%=date%></li></ul></div>