title!= title
.shot-content.transition
  .main 
    .imgpost.clearfix
          .post
            img(src=post.img) 
          ul.tools.clearfix
            li.views 2813
            li.favs 
              a(href='/favs') 564
            li.cmnts 
              a(href='/comments') 30
          ul.info.clearfix
            li.author
              a(href='/pushkin')
                img(src='/images/avatars/lol.jpg', style='width:16px') 
                span.name Pushkin 
            li.date= post.getTime()