body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #efefef /*url(/images/base/white.png)*/;
}

a {
  color: #00B7FF;
}
a:hover {
  color: #0097CF;
}
/* Common */
body {
  padding: 0;
  margin: 0;
}


.transition{
	-webkit-transition: all 0.3s linear;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s linear;  /* FF4+ */
       -o-transition: all 0.3s linear;  /* Opera 10.5+ */
          transition: all 0.3s linear;
}

ul {
	padding: 0;
}
/* >> Великолепный CLEARFIX: Update to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
    content: "\0020"; 
    display: block; 
    height: 0;
    visibility: hidden; 
}
 
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

/* end Common */


/**
* Game Block
*/
#game {
	position: relative;
	width: 80px;
}

li.field {
	display: inline-block;
	width : 20px;
	height : 20px;
	border: 1px solid #ddd;
	cursor: pointer;
}

li.active {
	background: #333;
}


/**
* Image Flow
*/
/* Left Sidebar */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 230px;
	background : #dfdfdf;

}


/* Content */
.content {
  max-width: 650px;
  padding: 30px 250px;
  padding-right: 30px;
}
.imgpost {
  padding: 10px;
  background: #fff;
  margin: 0 0 30px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);

}

.imgpost img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);

}

.imgpost .post{
  
}
.imgpost .info,
.imgpost .tools{
	font-size: 95%;
} 

.imgpost .info {
	float: left;
}

.imgpost .tools{
	float: right;
}

.imgpost .tools li a,
.imgpost .info li a,
.imgpost .tools li.views{
	
	text-decoration : none;
  	padding-left: 18px
}
.imgpost .info,
.imgpost .tools,
.imgpost .tools li a,
.imgpost .info li a{
	color: #999;
}

.imgpost .tools li{
	float: right;
	display: inline;
	margin-left: 12px;
}

.imgpost .info li{
	float: left;
	display: inline;
	margin-right: 12px;
}
.imgpost .info li img {
  float: left;
}
.imgpost .info li span.name{
	color: #00B7FF;
}
.imgpost .info li span.name:hover{
	color: #0097CF;
}
.imgpost .tools li.views{
	margin-left: 0;
}
.imgpost .info li.author{
	margin-left: 10px;
}

.imgpost .info li.author a{
	padding-left: 10px;
	font-weight: bold;
}

.imgpost img {
	width: 100%;
	height: auto;
}

/* shot content*/ 
.shot-content {
  padding: 30px 250px;
  padding-right: 30px;
}


/* Upload block */
.upload-image {
	font-size: 12px;
	text-align: center;

	padding: 20px;
	background: #ddd;

	border: 1px solid #aaa;
	border-radius : 6px;
	-webkit-transition: all 0.5s linear;
}

.upload-image.drag-enter {
	border: 3px solid #ccc;
}

.uf-js-progressbar {
	display: none;
	padding: 3px;
	padding-left: 20px ;
	background : url(/images/loading.gif) no-repeat 0 3px;
}

.uf-js-progressbar.show {
	display: inline;
}


.receiver-file {
	top: 0;

	display: none;
	opacity: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	background: #ebebeb;
}

.receiver-file .splash {
	position: relative;
	top: 100px;
	width:100%;
	height : 400px;
	background-image: linear-gradient(bottom, rgb(235,235,235) 16%, rgb(228,228,228) 79%);
	background-image: -o-linear-gradient(bottom, rgb(235,235,235) 16%, rgb(228,228,228) 79%);
	background-image: -moz-linear-gradient(bottom, rgb(235,235,235) 16%, rgb(228,228,228) 79%);
	background-image: -webkit-linear-gradient(bottom, rgb(235,235,235) 16%, rgb(228,228,228) 79%);
	background-image: -ms-linear-gradient(bottom, rgb(235,235,235) 16%, rgb(228,228,228) 79%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.16, rgb(235,235,235)),
		color-stop(0.79, rgb(228,228,228))
	);
}


/* TABLET LAYOUT 
----------------------------------------------- */

@media only screen and (max-width: 991px) {
	
body {
  
}
.content {
  padding: 30px 100px;
  padding-right: 30px;
}

#sidebar {
	width: 80px;
}

.imgpost .info .date{
	display: none;
}

}
/* MOBILE LAYOUT (PORTRAIT/320PX) 
----------------------------------------------- */

@media only screen and (max-width: 767px) {

body {

}

.content {
  padding: 30px 100px;
  padding-right: 30px;
}

#sidebar {
	width: 80px;
}



}